
* {
	font-family: monospace;
	margin: 0;
	padding: 0;
	color: white;
}

body {
	background: black;
}

a, a:visited {
	color: #80a0ff;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

hr {
	margin-top: 10px;
	margin-bottom: 10px;
}

li {
	margin-left: 20px;
}

